input{
background: transparent;
border: 1px solid rgba(255,255,255, 0.4);
height: 40px;
outline: none;
color: #fff;
font-size: 14px;
width: 300px;
padding-left: 10px;
}
input::placeholder{
    color: rgb(221, 221, 221);
}